{% extends "template.html" %}
{% block head %}

<script type="text/javascript" src="{{ url_for('heartrate.static', filename='window_parent.js') }}"></script>
<script type="text/javascript" src="{{ url_for('heartrate.static', filename='firebaseConfig.js') }}"></script>

{% endblock %}
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () { window.location.replace('https://www.twitch.tv/' + sessionStorage.channelName); }, 120000); // redirects back to twitch stream in 120 seconds

        $("#btnNext").click(function () {
            window.location.replace('https://www.twitch.tv/' + sessionStorage.channelName);
        });

    });
</script>

{% block content %}
<!DOCTYPE html>
<html lang="en-us">

<body>
    <form id="form" method="post" action="{{ url_for('default.submit') }}">
        <div>
            <b>Thanks for participating!</b>
            <p>You are free to close the browser at your earliest convenience.</p>
            <br>
            <b>Please remember to close the small pop-up window when you are done with the experiment</b>
            <br>
            <p>You may click "Proceed back to Twitch.tv" to navigate back to the Twitch stream.</p>
            <p>You will automatically be navigated back to the Twitch stream in 2 minutes.</p>
            <br>
        </div>
        <div class="question" style="">
            <div id="instructions" class="padding">
                <b> </b>
            </div>
        </div>
    
        <div class="navigation padding">
            <div style="float: right">
                <input id="btnNext" type="button" value="Proceed back to Twitch.tv"></input>
            </div>
            <div style="clear: both"></div>
        </div>
    
    </form>
</body>

</html>
{% endblock %}
