{% extends "template.html" %}
{% block head %}

<script type="text/javascript" src="{{ url_for('heartrate.static', filename='window_parent.js') }}"></script>
<script type="text/javascript" src="{{ url_for('heartrate.static', filename='firebaseConfig.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var f = firebase.initializeApp(firebaseConfig);

        var shouldPushToDB = 0; //0 for false, 1 for true
        firebase.database().ref('active_db').on('value', (snapshot) => {
            shouldPushToDB = snapshot.val();
            if (shouldPushToDB == 0) {
                // 'opens' current window to be able to close it again
                window.open("", "_self");
                window.close();
            }
        })
    });
</script>
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html lang="en-us">

<body>
    <b>Thanks for participating!</b>
    <p>You are free to close the browser at your earliest convenience.</p>
    <br>
    <div style="
        position: absolute;
        height: calc(100% - 200px);
        width: 90%;
        right: 5%;
    ">
        <div id="twitch-embed" style="
            position: absolute;
            height: calc(100% - 180px);
            width: 100%;
        ">

        </div>
    </div>

    <!-- Load the Twitch embed script -->
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>

    <script type="text/javascript">
        var options = {
            width: '100%',
            height: '100%',
            channel: sessionStorage.channelName,
            layout: "video-with-chat",
            autoplay: true,
            parent: ["www.hci-mturk3.usask.ca", "hci-mturk3.usask.ca"]
        };
        var embed = new Twitch.Embed("twitch-embed", options);

        embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
            var player = embed.getPlayer();
            player.play();
            player.setVolume(0.1);
        });
    </script>
</body>

</html>
{% endblock %}